.bg-container {
    background-image: url("https://demos.creative-tim.com/argon-dashboard-chakra-pro/static/media/hand-background.6b46ef98.png");
    background-size: cover;
    border-radius: 20px;
    height:500px;
    width:31%;
    display: flex;
    padding: 40px;
    margin-left: 20px;
    margin-top: -20px;
    box-sizing: border-box;
}

@media (max-width:1200px){
    .bg-container{
        width:95%;
        margin-top: 140px;
        margin-left: 0px;
    }
}

@media (max-width:900px){
    .bg-container{
        width:95%;
        margin-top: 440px;
        margin-left: 0px;
    }
}

@media (max-width:768px){
    .bg-container{
        width:95%;
        margin-top: 470px;
        margin-left: 0px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.bulb-container {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulb {
    color:#3182ce;
    font-size:18px;
}

.head {
    color:#ffffff;
    font-size: 22px;
    font-weight: bold;
}

.paragraph {
    color:#ffffff;
    font-size: 14px;
    font-weight: 600;
}