.side-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    position: fixed;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width:16%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.cont-width {
    width:5%;
    /* align-items: flex-start; */
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    width:100%;  
    align-self: center;
    overflow-x: hidden;
}

.cont-marg {
    margin-left: 25px;
}

#side-container:hover{
    overflow-y: auto;
}

.brand-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar{
    font-weight: bold;
    margin: 10px;
}

.line1{
    width: 100%;
    border: 1px solid #e2e8f0;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:88%;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
}

.dashboard-container:hover{
    box-shadow:10px 10px 30px 1px rgba(0, 0, 0, 0.1);
    cursor:pointer; 
}

.inside-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.home-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3182ce;
    height: 30px;
    width: 30px;
    border-radius: 8px;
}

.home-icon {
    font-size: 16px;
    color: #ffffff;
}

.dash{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 20px;
}

.arrow {
    height: 20px;
    margin-right: 20px;
    color:#a0aec0;
    transition: transform 0.2s ease 0s;
}


.dashboard-list {
    padding-left: 0px;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type:none;
    /* height: 0px;
    overflow: hidden; */
    transition: height 0.5s ease-in-out;
}

.dashboard-list-1 {
    padding-left: 0px;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type:none;
    height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.show-d {
    height: 100%;
    overflow: visible;
}

/* .dashboard-list:hover{
    transform: scale(1.2);
} */


.icon3 {
    color:#3182ce;
    font-size: 15px;
}

.page-title {
    align-self: flex-start;
    font-weight: bold;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 10px;
}

.need-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.small-para {
    color:#a0aec0;
    font-size: 11px;
}

.file-img {
    width: 160px;
    height:120px;
}

.doc-btn {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #4299e1;
    font-size: 11px;
    font-weight: bold;
    border: none;
}

.doc-btn:hover {
    background-color: rgb(66 153 225 / 60%);
}

.hide {
    display: none;
}

.trans-arrow {
    transform: rotate(-180deg);
}

.hide-brand {
    display: none;
}

.spl-font {
    font-size: 12px;
    margin-left: 0px;
}

.apply-marg {
    margin-left: 20px;
}

.remove-marg {
    margin-left: -20px;
}